{% extends 'base.html.twig' %}

{% block title %}TrackSion - Home{% endblock %}

{% block header %}
    <a href={{ path('app_home')}}><h1><span class="title-pre">Track</span><span class="title-post">Sion</span></h1></a>
{% endblock %}


{% block body %}

    <article class="home-index-container">

        <header class="home-header-container">
            <div class="home-header-title">
                <h2>Bienvenue</h2>
                <hr class="title-line">
            </div>
        </header>

        <section class="home-section-container">

            <h3>Sessions en cours</h3>

            <div>
                {% for currentSession in currentSessions %}
                    
                    <div class="home-section-content">
                        <aside class="home-section-aside">
                            <h3>{{ currentSession.intitule }}</h3>
                            <p><span>Places restantes : </span>{{ currentSession.nbPlacesReservees }}/{{ currentSession.nbPlacesTotal }}</p>
                            <p><span>Dates : </span>{{ currentSession}}</p>
                            <p><span>Référent : </span><a href="">{{ currentSession.professeur }}</a></p>
                        </aside>
                        <a class="link" href="{{ path('show_session', {'id' : currentSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>
        
        <section class="home-section-container">

            <h3>Sessions à venir</h3>

            <div>
                {% for nextSession in nextSessions %}
                    
                    <div class="home-section-content">
                        <aside class="home-section-aside">
                            <h3>{{ nextSession.intitule }}</h3>
                            <p><span>Places restantes : </span>{{ nextSession.nbPlacesReservees }}/{{ nextSession.nbPlacesTotal }}</p>
                            <p><span>Dates : </span>{{ nextSession}}</p>
                            <p><span>Référent : </span><a href="">{{ nextSession.professeur }}</a></p>
                        </aside>
                        <a class="link" href="{{ path('show_session', {'id' : nextSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>

        <section class="home-section-container">

            <h3>Sessions terminées</h3>

            <div>
                {% for pastSession in pastSessions %}
                    
                    <div class="home-section-content">
                        <aside class="home-section-aside">
                            <h3>{{ pastSession.intitule }}</h3>
                            <p><span>Places restantes : </span>{{ pastSession.nbPlacesReservees }}/{{ pastSession.nbPlacesTotal }}</p>
                            <p><span>Dates : </span>{{ pastSession}}</p>
                            <p><span>Référent : </span><a href="">{{ pastSession.professeur }}</a></p>
                        </aside>
                        <a class="link" href="{{ path('show_session', {'id' : pastSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>

    </article>


{% endblock %}