{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
{% endblock %}

{% set route = app.request.get('_route') %}

<nav id="sidebar" class="navbar">
    <section class="sidebar-container">
        <header class="header">
           <a href={{ path('home_index')}}><h1>TrackSion</h1></a>
        </header>

        <section class="navbar-list-container">
            <ul class="navbar-list"> 
                <li class="navbar-item">
                    <a href={{ path('home_index') }} class={{route starts with 'home' ? 'active'}}>
                    <i class="fa-solid fa-house"></i> Dashboard</a>
                </li>
                <li class="navbar-item">
                    <a href={{ path('session_index') }} class={{route starts with 'session' ? 'active'}}>
                    <i class="fa-regular fa-rectangle-list"></i> Sessions</a>
                </li>
                <li class="navbar-item">
                    <a href={{ path('stagiaire_index')}} class={{route starts with 'stagiaire' ? 'active'}}>
                    <i class="fa-solid fa-users"></i> Stagiaires</a>
                </li>
                <li class="navbar-item">
                    <a href={{ path('professeur_index')}} class={{route starts with 'professeur' ? 'active'}}>
                    <i class="fas fa-chalkboard-teacher"></i>
                    </i> Formateurs</a>
                </li>
            </ul>
        </section>

        {% if app.user %}
        <section class="oauth-container">
            <div>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    {{ app.user.identity }}
                </a>
            </div>
            <div>
                <a href={{ path('app_logout')}}>
                    <i class="fa-solid fa-sign-out"></i>
                    Se déconnecter
                </a>
            </div>
        </section>
        {% else %}
        <section class="oauth-container">
            <div>
                <a href={{ path('app_login')}}>
                    <i class="fa-solid fa-sign-in"></i>
                    Se connecter
                </a>
            </div>
        </section>
        {% endif %}
    </section>

    <footer class="footer">
        <p>&copy; {{ "now"|date("Y") }} TrackSion &trade; - by Alexandre Leote</p>
    </footer>
</nav>

