{% extends 'base.html.twig' %}

{% block title %}TrackSion - Liste des stagiaires{% endblock %}


{% block body %}

    <h1>Liste des stagiaires</h1>

    <table>
        <thead>
            <tr>
                <th>Identité</th>
                <th>Initiales</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>{{ stagiaire.identity }}</td>
                    <td>{{ stagiaire.initiales }}</td>
                    <td>{{ stagiaire.ville }}</td>
                    <td>
                        <a href="{{ path('stagiaire_show', {'id': stagiaire.id}) }}">Voir</a>
                        <a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}">Editer</a>
                        <a href="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stagiaire_new') }}">Ajouter un stagiaire</a>

{% endblock %}
