{% extends 'base.html.twig' %}

{% block title %}TrackSion - Liste des stagiaires{% endblock %}

{% block header %}
    <a href={{ path('app_home')}}><h1><span class="title-pre">Track</span><span class="title-post">Sion</span></h1></a>
{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    <table>
        <thead>
            <tr>
                <th>Identité</th>
                <th>Initiales</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>{{ stagiaire.identity }}</td>
                    <td>{{ stagiaire.initiales }}</td>
                    <td>{{ stagiaire.ville }}</td>
                    <td>
                        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Voir</a>
                        <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Editer</a>
                        <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a>

{% endblock %}
