{% extends 'base.html.twig' %}

{% block title %}TrackSion - Nouvelle session {% endblock %}

{% block header %}
    <h1 class="title-default">Créer une nouvelle session</h1>
{% endblock %}


{% block body %}

    {% if edit %}
        
        <h1>Editer une session</h1>

    {% else %}

     <h1>Ajouter une session</h1>

    {% endif %}

        {# {{ form(formAddEntreprise) }} #}

    {{ form_start(formAddSession) }}
        {{ form_row(formAddSession.intitule) }}
        {{ form_row(formAddSession.dateDebut) }}
        {{ form_row(formAddSession.dateFin) }}
        {{ form_row(formAddSession.nbPlacesTotal) }}
        {{ form_row(formAddSession.professeur) }}
        {{ form_row(formAddSession.formation) }}
        {{ form_row(formAddSession.stagiaires) }}
        {{ form_row(formAddSession.detailProgramme) }}
        {{ form_row(formAddSession.valider) }}
    {{ form_end(formAddSession) }}


{% endblock %}