{% extends 'base.html.twig' %}

{% block title %}TrackSion - Liste des Sessions{% endblock %}


{% block header %}
    <a href={{ path('app_home')}}><h1><span class="title-pre">Track</span><span class="title-post">Sion</span></h1></a>
{% endblock %}

{% block body %}

    <article class="session-index">

        <header class="session-index-title">
            <h2>Liste des Sessions</h2>
            <hr class="title-line">
        </header>

        <section class="">

            <h3>Sessions en cours</h3>

            <div class="session-info">
                {% for currentSession in currentSessions %}
                    
                    <div class="session-details">
                        <aside class="">
                            <h3>{{ currentSession.intitule }}</h3>
                            <p>Places restantes : <span>{{ currentSession.nbPlacesReservees }}</span>/{{ currentSession.nbPlacesTotal }}</p>
                            <p>Dates : <span>{{ currentSession}}</span></p>
                            <p>Référent : <a href="">{{ currentSession.professeur }}</a></p>
                        </aside>
                        <a href="{{ path('show_session', {'id' : currentSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>
        
        <section class="">

            <h3>Sessions à venir</h3>

            <div class="session-info">
                {% for nextSession in nextSessions %}
                    
                    <div class="session-details">
                        <aside class="">
                            <h3>{{ nextSession.intitule }}</h3>
                            <p>Places restantes : <span>{{ nextSession.nbPlacesReservees }}</span>/{{ nextSession.nbPlacesTotal }}</p>
                            <p>Dates : <span>{{ nextSession }}</span></p>
                            <p>Référent : <a href="">{{ nextSession.professeur }}</a></p>
                        </aside>
                        <a href="{{ path('show_session', {'id' : nextSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>

        <section class="">

            <h3>Sessions terminées</h3>

            <div class="session-info">
                {% for pastSession in pastSessions %}
                    
                    <div class="session-details">
                        <aside class="">
                            <h3>{{ pastSession.intitule }}</h3>
                            <p>Places restantes : <span>{{ pastSession.nbPlacesReservees }}</span>/{{ pastSession.nbPlacesTotal }}</p>
                            <p>Dates : <span>{{ pastSession }}</span></p>
                            <p>Référent : <a href="">{{ pastSession.professeur }}</a></p>
                        </aside>
                        <a href="{{ path('show_session', {'id' : pastSession.id }) }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                
                {% endfor %}
            </div>
        </section>

    </article>


{% endblock %}
