{% extends 'base.html.twig' %}

{% block title %}TrackSion - {{ session.formation.intitule }} {% endblock %}

{% block header %}
    <h1><span class="title-default">{{ session.formation.intitule }}</span></h1>
{% endblock %}


{% block body %}

<article class="index-main-container">

    <header class="index-main-header">
        <h2>{{ session.intitule }}</h2>
        <hr class="title-line">
    </header>

    <section class="session-details-section">

        <div class="session-main-content">
                
                <div>
                    <aside class="session-infos-aside">
                        <p>Référent : <a href="">{{ session.professeur }}</a></p>
                        <div class="session-dates">
                            <p>Dates : <span>{{ session }}</span></p>
                            <a href=""><i class="fa-regular fa-calendar"></i></a>
                        </div>
                    </aside>
                </div>

                {# Section Programmes #}
                <div class="session-programmes-section">
                    <div class="session-prog-header">
                        <h3>Programme</h3>
                        <button class="btn-plus" data-modal-target="modal-add-programme">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    
                    {% for cours in session.programmes %}
                        <div class="session-prog-content">
                            <div class="session-prog-item">
                                <h4>{{ cours }}</h4>
                                <div class="session-prog-infos">
                                    <span>{{ cours.duree }} jours</span>
                                    <form action="{{ path('remove_cours') }}" method="post">
                                        <input type="hidden" name="programme_id" value="{{ cours.id }}">
                                        <button type="submit" class="btn-trash"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                    <button class="btn-session"><i class="fa-solid fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {# Modale Cours non programmés #}
                    <div id="modal-add-programme" class="modal-container">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Ajouter un nouveau cours</h2>
                            </div>
                            <div class="modal-body">
                                <form action="{{ path('add_cours') }}" method="post">
                                    <label for="cours-name">Nom du cours:</label>
                                    <select name="cours_id" id="cours-name">
                                        {% for coursNP in nonProgrammes %}
                                            <option value="{{ coursNP.id }}">{{ coursNP.intitule }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="cours-duration">Durée du cours:</label>
                                    <input type="number" id="cours-duration" name="duree" required min="1" max="365">
                                    <input type="hidden" name="session_id" value="{{ session.id }}">
                                    <button type="submit">Ajouter</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
                
                {# Section Stagiaires #}
                <div class="session-stud-section">
                    <div class="">
                        <h3>Stagiaires</h3>
                        <div class="session-stud-infos">
                            <p><span>{{ session.nbPlacesReservees }}</span>/{{ session.nbPlacesTotal }}</p>
                            <i class="fa-solid fa-users"></i>
                            <p>stagiaires inscrits</p>
                        </div>
                    </div>  
                    {% if session.nbPlacesReservees < session.nbPlacesTotal %}
                        <div>
                            <button class="btn-plus" data-modal-target="modal-add-stagiaire">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>                            
                    {% else %}
                        <div>
                            <button disabled><i class="fa-solid fa-plus"></i></button>  
                        </div>
                    {% endif %}
                </div>
                
                {# Modale Stagiaires non inscrits #}
                <div id="modal-add-stagiaire" class="modal-container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Ajouter un nouveau stagiaire</h2>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path('add_stagiaire') }}" method="post">
                                <label for="stagiaire-name">Nom du stagiaire:</label>
                                <select name="stagiaire_id[]" id="stagiaire-name" multiple>
                                    {% for stagiaireNI in nonInscrits %}
                                        <option value="{{ stagiaireNI.id }}">{{ stagiaireNI.nom }} {{stagiaireNI.prenom }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="session_id" value="{{ session.id }}">
                                <button type="submit">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="overlay"></div>
                
                {% for stagiaire in session.stagiaires %}
                    <button class="stagiaire-btn" data-modal-target="modal-{{ stagiaire.id }}">
                        {{ stagiaire.initiales }}
                    </button>
                    
                    {# Modale Stagiaires inscrits #}
                    <div id="modal-{{ stagiaire.id }}" class="modal-container">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Retirer le stagiaire</h2>
                            </div>
                            <div class="modal-body">
                                    <div class="modal-identity">
                                        <p><span>Civilité :</span> {{ stagiaire.civilite }}</p>
                                        <p><span>Nom :</span> {{ stagiaire.nom }}</p>
                                        <p><span>Prénom :</span> {{ stagiaire.prenom }}</p>
                                    </div>
                                    <div class="modal-others">
                                        <p><span>Âge :</span> {{ stagiaire.age }}</p>
                                        <p><span>Ville :</span> {{ stagiaire.ville }}</p>
                                    </div>
                                    <div class="modal-contact">
                                        <p><span>E-mail :</span> {{ stagiaire.email }}</p>
                                        <p><span>Tél :</span> {{ stagiaire.phone }}</p>
                                    </div>
                                    <div class="modal-sessions">
                                        <p>Inscriptions <span>countSession</span></p>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form action="{{ path('remove_stagiaire') }}" method="post">
                                        <input type="hidden" name="stagiaire_id" value="{{ stagiaire.id }}">
                                        <input type="hidden" name="session_id" value="{{ session.id }}">
                                        <button type="submit" class="btn-desinscrire">Désinscrire</button>
                                    </form>
                                    <button class="btn-annuler">Annuler</button>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                    
                {# Bouton ajout dans la liste des stagiaires #}
                {% if session.nbPlacesReservees < session.nbPlacesTotal %}
                    <div>
                        <button data-modal-target="modal-add-stagiaire">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>                            
                {% else %}
                    <div>
                        <button disabled><i class="fa-solid fa-plus"></i></button>  
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

</article>

{% endblock %}
