{% extends 'base.html.twig' %}

{% block title %}TrackSion - {{ session.formation.intitule }} {% endblock %}

{% block header %}
    <h1>{{ session.formation.intitule }}</h1>
{% endblock %}


{% block body %}

<article class="session-index">

    <header class="session-index-title">
        <h2>{{ session.intitule }}</h2>
        <hr class="title-line">
    </header>

    <section class="">

        <div class="">
                
                <div class="">
                    <aside class="">
                        <p>Référent : <a href="">{{ session.professeur }}</a></p>
                        <div class="">
                            <p>Dates : <span>{{ session }}</span></p>
                            <a href=""><i class="fa-regular fa-calendar"></i></a>
                        </div>
                    </aside>
                </div>

                <div class="section-programme">
                    <div class="section-header-display">
                        <h3>Programme</h3>
                        <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    
                    {% for cours in session.programmes %}
                        <div class="session-info">
                            <div class="session-class">
                                <h4>{{ cours }}</h4>
                                <div>
                                    <span>{{ cours.duree }} jours</span>
                                    <button><i class="fa-solid fa-trash"></i></button>
                                    <button><i class="fa-solid fa-chevron-right"></i></button>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                
                <div class="">
                    <div class="">
                        <h3>Stagiaires</h3>
                        <div class="">
                            <p><span>{{ session.nbPlacesReservees }}</span>/{{ session.nbPlacesTotal }}</p>
                            <i class="fa-solid fa-users"></i>
                            <p>stagiaires inscrits</p>
                        </div>
                    </div>  
                    <button data-modal-target="modal-add-stagiaire">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                
                <div id="modal-add-stagiaire" class="modal-container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Ajouter un nouveau stagiaire</h2>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path('add_stagiaire_route') }}" method="post">
                                <label for="stagiaire-name">Nom du stagiaire:</label>
                                <select name="stagiaire_id" id="stagiaire-name">
                                    {% for stagiaireNI in nonInscrits %}
                                        <option value="{{ stagiaireNI.id }}">{{ stagiaireNI.nom }} {{stagiaireNI.prenom }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="session_id" value="{{ session.id }}">
                                <button type="submit">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="overlay"></div>
                
                {% for stagiaire in session.stagiaires %}
                    <button class="stagiaire-btn" data-modal-target="modal-{{ stagiaire.id }}">
                        {{ stagiaire.initiales }}
                    </button>
                
                    <div id="modal-{{ stagiaire.id }}" class="modal-container">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Retirer le stagiaire</h2>
                            </div>
                            <div class="modal-body">
                                    <div class="modal-identity">
                                        <p><span>Civilité :</span> {{ stagiaire.civilite }}</p>
                                        <p><span>Nom :</span> {{ stagiaire.nom }}</p>
                                        <p><span>Prénom :</span> {{ stagiaire.prenom }}</p>
                                    </div>
                                    <div class="modal-others">
                                        <p><span>Âge :</span> {{ stagiaire.age }}</p>
                                        <p><span>Ville :</span> {{ stagiaire.ville }}</p>
                                    </div>
                                    <div class="modal-contact">
                                        <p><span>E-mail :</span> {{ stagiaire.email }}</p>
                                        <p><span>Tél :</span> {{ stagiaire.phone }}</p>
                                    </div>
                                    <div class="modal-sessions">
                                        <p>Inscriptions <span>countSession</span></p>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn-desinscrire">Désinscrire</button>
                                    <button class="btn-annuler">Annuler</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if session.nbPlacesReservees < session.nbPlacesTotal %}
                        <div>
                            <button data-modal-target="modal-add-stagiaire">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>                            
                    {% else %}
                        <div>
                            <p>Session pleine</p>
                            <button disabled><i class="fa-solid fa-plus"></i></button>  
                        </div>
                    {% endif %}
                </div>
            
        </div>
    </section>

</article>

{% endblock %}
